*{
    margin: 0;
    padding: 0;
}
#titulo{
    font-family: sans-serif;
    color: #380861;
    margin-left: 7%;
}
#subtitulo{
    font-family: sans-serif;
    color: #370861;
    margin-left: 10%;
}
fieldset{
    border: 0;
}
body{
    background-color: #f0f8ff;
    font-family: sans-serif;
    font-size: 1em;
    color: #10021d;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}
input, select, textarea, button{
    border-radius: 5%;
}
.campo{
    margin-bottom: 1em;
}
.campo label{
    margin-bottom: 0.2em;
    color: #370861;
    display: block;
}
fieldset.grupo .campo{
    float: left;
    margin-right: 1em;

}